@import url("https://fonts.googleapis.com/css?family=Open+Sans:300i,400,400i,600,700|Poppins:200,200i,300,300i,400,500,500i,600,700,800,900&display=swap");

/* =============
    Base Styles
   ============= 
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}                

:root {
    /* Palette colours */
    --black: #0f0e0e;
    --dark-grey: #333333;
    --grey: #cccccc;
    --light-grey: #ebebeb;
    --lighter-grey: #f5f5f5;
    --off-white: #faf9f6;
    --white: #ffffff;

    --primary: #3a0ca3;
    --secondary: #4361ee;
    --third: #4cc9f0;
    --accent: #7209b7;
    --loud: #f72585;

    --success: #27ae60;
    --warning: #f39c12;
    --danger: #c0392b;
    --info: #16a085;

    font-size: calc(0.55em + 1vw);
    background-color: var(--lighter-grey);
}

img {
    max-width: 100%;
}

b,
address {
    font-style: normal;
    font-weight: 400;
}


/* ===============
    Header Styles
   =============== 
*/

.page-header {
    font-family: 'Poppins', sans-serif;
    background-color: var(--black);
}

.page-header__top {    
    font-size: 1.05rem;    
    color: var(--off-white);  
    padding: 2em 1em;
}

address.page-header__top__info {
    display: flex;
    justify-content: center;
    gap: 2em;    
}

.page-header__top__social-links {
    margin-top: 1em;
    text-align: center;
}

.page-header__top__social-links a {
    color: var(--off-white);
    margin: 0 0.5em;
    font-size: 1.2rem;
}

.page-header__top__social-links a:hover {
    color: var(--third);
}


/* media query for the top header section */

@media (min-width: 55em) {
    .page-header__top {
        max-width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;        
    }

    .page-header__top__info {
        display: flex;
        justify-content: flex-start
    }

    .page-header__top__social-links {
        margin-top: 0;
    }
}


/* lower top header (navbar) */

.navbar {
    background-color: var(--white);
    padding: 1em 2em;  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* mobile layout */

.navlinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navlinks__item {
    display: none;
    order: 3;
    width: 100%;
    text-align: center;
}

.navlinks__item a {
    display: block;
    padding: 0.5em 1em;
    color: var(--black);
    font-weight: 600;
    text-decoration: none;
}

.navlinks__item .btn {
    order: 2;
}

.navlinks__item:not(.btn) a:hover,
.navlinks__item.btn a:hover {
    text-decoration: underline;
}

.navlinks__hamburger {
    order: 1;
    font-size: 1.5rem;
}

.navlinks__hamburger i {
    color: var(--black);
}

.active .navlinks__item {
    display: block;
}

.btn .line-separator {
    border: 2px solid var(--primary);
    border-radius: 25px;
}
