@import url("https://fonts.googleapis.com/css?family=Open+Sans:300i,400,400i,600,700|Poppins:200,200i,300,300i,400,500,500i,600,700,800,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
    /* Palette colours */

    --black: #0f0e0e;
    --dark-grey: #333333;
    --grey: #cccccc;
    --light-grey: #ebebeb;
    --off-white: #f5f5f5;
    --white: #faf9f6;

    --primary: #3a0ca3;
    --secondary: #4361ee;
    --third: #4cc9f0;
    --accent: #7209b7;
    --loud: #f72585;

    --success: #27ae60;
    --warning: #f39c12;
    --danger: #c0392b;
    --info: #16a085;
    



    font-size: calc(0.55em + 1vw);
}

