* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h1,
h2,
h3 {
    color: #bd8100;
    font-family: Baskerville, 'Palatino Linotype', Times, serif;
    border-top: 2px solid #86a100;
    padding-top:7px;
    padding-left: 100px;
}

p {
    color: #505050;
    font-size: 1em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.note {
    color: #333;
    border: 3px dashed #bd8100;
    background-color: #fbf8a9;
    margin-top: 25px;
    margin-bottom: 35px;
    padding: 20px;
}

.note strong {
    color: #fc6512;
}

.article-container {
    background-color: #fdf8ab;
    background-image: url(../assets/imgs/bg_page.png);
    background-repeat: repeat-y;
    background-position: center top;
    padding: 0;
    margin: 0 auto;
    width: 760px;
}

h1 + p {
    margin-top: 20px;
    margin-bottom: 40px;
    padding-left: 100px;
}